@import url('https://fonts.googleapis.com/css?family=Anton|Gloria+Hallelujah');

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 30px;
}

h4 {
  text-align: left;
}

.mainheader, .header, .header2{
  color: #308DB5;
  margin-top: 30px;
  font-weight: bold;
}

p {
  text-align: left;
  color:#393B3B  ;
}

h5 {
  text-align: left;
}

table#learntable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30%
}

table#learntable>th,
table#learntable>td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table#learntable>tr:hover {background-color:#f5f5f5;}


.boardPicture{
  margin-top: 50%;
    width: 150px;
    height: 150px;
}

.piecesPicture{
  margin-top: 50%;
    width: 160px;
    height: 140px;
}
