h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #308DB5;
  font-size: 40px;
}

.us {
  width: 180px;
  height: 180px;
  border-radius: 20px
}

p {
  font-size: 1.3em;
  text-align: left;
  color:#393B3B  ;
}

h5 {
  text-align: left;
}

.header2 {
  color: #308DB5  ;
}

.imageGroup {
  margin-top: 40px;
}

.backGround {
  margin-top: 20px;
  padding: 50px;
  display:absolute;
}

.about a {
  color: #308DB5;
}