.about {
  border: 1px solid #ccc;
  margin-top: 21px;
  min-height: 400px;
  color: #767676;
  background-color: #f7f7f7;
  padding: 0 25px 25px 25px;
}

.about h1{
  margin-top: 18px;
  text-align: left;
  margin-bottom: 15px;
  color: #308DB5;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 10px;
  font-size: 1.3em;
  text-align: left;
  color: #767676 ;
}
