body {
  background-color: #eeeeee;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

button {
  height: 50px;
  width: 200px;
}

#page {
  display: grid;
  margin: auto;
  grid-template-columns: auto 200px 600px 200px auto;
}

#nav {
  grid-column: 3;
  display: flex;
}

nav {
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  text-shadow: 2px 2px 2px #dcdcdc;
}

nav:hover {
  background-color: #fff;
}

.main {
  grid-column: 3;
  width: 100%;
  margin: auto;
  text-align: center;
}

.lobby,
.leaderboard {
  border-style: solid;
  border-width: 2px;
  min-height: 400px;
}

.board {
  min-height: 600px;
}

button {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
#chat {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0, 0.05);
  border-radius: 2px;
  text-align: left;
  max-width: 800px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0, 0.05);
  border-radius: 2px;
  grid-column: 5;
  grid-row: 2;
  margin-right: 20px;
  margin-top: 100px;
  height: 500px;
}
#chat-window {
  height: 500px;
  overflow: auto;
  background: #f9f9f9;
}
input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 10px;
}
#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

table,
td,
th {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
.room:hover {
  cursor: pointer;
}
