html {
  background-color: #EEEEEE;
}

body {
  background-color: #eeeeee;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

button {
  font-weight: bold;
  color: #848484;
  height: 50px;
  width: 200px;
  box-shadow: none;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
}

button:hover {
  background-color: #f7f7f7;
}

#page {
  background-color: #EEEEEE;
  display: grid;
  margin: auto;
  grid-template-columns: auto 200px 600px 200px auto;
}

#nav {
  grid-column: 3;
  display: grid;
  grid-template-columns: 80% 20%;
}

#main-nav {
  grid-column: 1;
  display: flex;
}

#user-nav {
  grid-column: 2;
}

#main-nav>nav>a {
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  text-shadow: 2px 2px 2px #DCDCDC;
  color: black;
}

#main-nav>nav>a:hover {
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  text-shadow: 2px 2px 2px #DCDCDC;
  color: black;
}

nav {
  text-shadow: 2px 2px 2px #dcdcdc;
  padding: 3px 5px 8px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

nav:hover {
  background-color: #fff;
}

.main {
  grid-column: 3;
  width: 100%;
  margin: auto;
  text-align: center;
}

.lobby, .leaderboard {
  border: 1px solid #ccc;
  min-height: 400px;
  background-color: #f7f7f7
}

/* Tables CSS */
.tg  {
  /* border-collapse:collapse; */
  grid-column: 3;
  width: 100%;
  border-spacing:0;
  border-color:#ccc;
  margin: auto;
}
.tg th{
  font-family:"Lucida Console", Monaco, monospace !important;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:0;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#f7f7f7;
}
.tg td{
  font-family:"Lucida Console", Monaco, monospace !important;
  font-size:12px;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-top-width:1px;
  border-bottom-width:1px;
  border-color:#ccc;
  color:#333;
  background-color:#f7f7f7;
  cursor: pointer;
}
.tg .tg-yw4l{
  vertical-align:top
}
.tg .tg-colName1{
  border-color:inherit;
  vertical-align:top
}
.tg .tg-colNames{
  font-size:14px;
  font-family:"Lucida Console", Monaco, monospace !important;
  border-color:inherit;
  vertical-align:top
}
.tg .tg-row{
  background-color:#f7f7f7;
  border-color:inherit;
  vertical-align:top
}
.tg-row:hover{
  background-color: rgba(0,0,155,.2);
}
.tg .row:hover{
  background-color: rgba(0,0,155,.2);
}
