html {
  background-color: #eeeeee;
}

body {
  background-color: #eeeeee;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

button {
  font-weight: bold;
  color: #848484;
  height: 50px;
  width: 200px;
  box-shadow: none;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
}

button:hover {
  background-color: #f7f7f7;
}

#page {
  background-color: #eeeeee;
  display: grid;
  margin: auto;
  grid-template-columns: auto 1000px auto;
  grid-template-areas:
    "l nav r"
    "l takless r";
}

#nav {
  margin-top: 15px;
  margin-bottom: 10px;
  grid-area: nav;
  display: grid;
  grid-template-columns: 200px 500px 100px 200px;
  grid-template-areas: "navl main-nav user-nav navr";
}

#main-nav {
  grid-area: main-nav;
  display: flex;
}

#user-nav {
  grid-area: user-nav;
}

#main-nav > nav > a {
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
  color: black;
}

#main-nav > nav > a:hover {
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  color: black;
}

nav {
  padding: 3px 5px 8px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.takless {
  grid-area: takless;
  display: grid;
  grid-template-columns: 200px 600px 280px;
  grid-template-areas: "left main right";
  width: 100%;
  margin: auto;
  text-align: center;
  height: 904px;
}

.main {
  grid-area: main;
}

.lobby,
.leaderboard {
  border: 1px solid #ccc;
  min-height: 400px;
  background-color: #f7f7f7;
}

/* Tables CSS */
.tg {
  /* border-collapse:collapse; */
  grid-column: 3;
  width: 100%;
  border-spacing: 0;
  border-color: #ccc;
  margin: auto;
}
.tg th {
  font-family: "Lucida Console", Monaco, monospace !important;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #f7f7f7;
}
.tg td {
  font-family: "Lucida Console", Monaco, monospace !important;
  font-size: 12px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #ccc;
  color: #333;
  background-color: #f7f7f7;
  cursor: pointer;
}
.tg .tg-yw4l {
  vertical-align: top;
}
.tg .tg-colName1 {
  border-color: inherit;
  vertical-align: top;
}
.tg .tg-colNames {
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace !important;
  border-color: inherit;
  vertical-align: top;
}
.tg .tg-row {
  background-color: #f7f7f7;
  border-color: inherit;
  vertical-align: top;
}
.tg-row:hover {
  background-color: rgba(0, 0, 155, 0.2);
}
.tg .row:hover {
  background-color: rgba(0, 0, 155, 0.2);
}

#coffee {
  float: left;
  margin-top: 520px;
  margin-right: 100px;
}
#send {
  background: #575ed8;
  color: #fff;
  font-size: 15px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
#send:hover {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
}
#chat {
  text-align: left;
  max-width: 800px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0, 0.05);
  border-radius: 2px;
  margin-top: 100px;
  height: 0px;
  grid-column: 3;
  margin-left: 20px;
}
#chat-window {
  height: 420px;
  overflow: auto;
  background: #f9f9f9;
}

.signupForm {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
textarea {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 10px;
  overflow-wrap: break-word;
}
#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
  overflow-wrap: break-word;
  padding-top: 1px;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}
#tak {
  width: 258px;
  color: black;
  background-color: yellowgreen;
}
#tak:hover {
  width: 258px;
  color: black;
  background-color: yellowgreen;
  font-size: 150%;
}
#username {
  font-size: 12px;
  margin-left: 10px;
}

.log {
  margin: 30px 30px 60px 50px;
}
p:first-child {
  margin-top: 6px;
  margin-bottom: 5px;
}

p.question {
  margin-top: 10px;
  margin-bottom: 1rem;
}
p.question:hover {
  color: blue;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 1rem;
}
#loginButton {
  padding-left: 0px;
  background-color: transparent;
}
.logout {
  margin: 30px 30px 60px 50px;
}

.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-shadow-radial:before,
.hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(
    50% 150%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% 150%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(
    50% -50%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% -50%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
.hvr-shadow-radial:hover:before,
.hvr-shadow-radial:focus:before,
.hvr-shadow-radial:active:before,
.hvr-shadow-radial:hover:after,
.hvr-shadow-radial:focus:after,
.hvr-shadow-radial:active:after {
  opacity: 1;
}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Curl Top Right */
.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before,
.hvr-curl-top-right:focus:before,
.hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}

/* Bubble Bottom */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
.hvr-bubble-bottom:hover:before,
.hvr-bubble-bottom:focus:before,
.hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover,
.hvr-skew-forward:focus,
.hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
