.stone-count {

}

.game>button {
  border-top: 1px;
}

.game-info {
  margin-top: 75%;
}

.game-info>table {
  border: 1px solid #D2D2D2;
  background-color: #e5e5e5;
  grid-area: left;
  margin-right: 10px;
  height: 200px;
}

.game-info>table>tr {
  height: 30px;
}

.to-play {
  min-height: 21px;
}

.score > table {
  width: 100%;
}

.ptn {
  overflow: auto;
  border: 1px solid #D2D2D2;
  border-left: 0;
  border-right: 0;
  height: 140px;
  width:100%;
}

.moves {
  table-layout: fixed;
  width: 100%;
}

.moves>table>tr,
.move>table>tr>td {
  max-height: 10px;
}

.btn-player1-piece {
  background-color: #fff;
  color: #608292
}

.btn-player2-piece {
  background-color: #608292;
  color: #fff;
}

.turn-number {
  background-color: #C6C6C6;
  width: 20%;
}

.ptn-ply {
  width: 45%;
}

.board {
  min-height: 600px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  display: flex;
  flex-direction: column;
}

.valid:hover {
  background-color: #8BBA62 !important;
}

.origin {
}

.selected {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  position:absolute;
  border-radius: 3px;
  z-index: 9999;
}

.selected>div{
  box-shadow: 3px 3px rgba(0,185,0,.3);

}

.stone {
  border-radius: 8px;
  margin: auto;
  display:absolute;
  box-shadow: 2px 2px rgba(50, 50, 50, 0.3), -2px 2px rgba(50, 50, 50, 0.1);
}

div.S {
  background-image: url(https://puu.sh/Al0no/fd801ad23a.png);
  background-size: cover;
}
div.C {
  /*background-image: url(https://puu.sh/Al1Zg/caae853ce3.png);*/
  background-size: cover;
  border-radius: 100%;
}
.top {
  z-index: 999;
}

.captive {
  border-radius: 30px 30px 5px 5px;
  margin-top: -55%;
  box-shadow: 0 2px rgba(50, 50, 50, 0.3)
}

.p1 {
  background-color: #fff;
}

.p2 {
  background-color: #608292;
}

.non-flat {
  font-weight: bold;
  position: absolute;
  margin-left: 3px;
  border-radius: 5px;
  color: #2F5659;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stack-overflow {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.overflow-stone {
  width: 10px;
  height: 10px;
}