.stone-count {

}

.game>button {
  border-top: 1px;
}

.game-info {
  margin-top: 75%;
}

.game-info>table {
  border: 1px solid #D2D2D2;
  background-color: #e5e5e5;
  grid-area: left;
  margin-right: 10px;
  height: 200px;
}

.game-info>table>tr {
  height: 30px;
}

.timer {
  font-weight: bold;
  height: 35px;
  padding-top: 5px;
  width: 85px;
  margin: auto;
  border: solid 1px #d2d2d2;
  background-color: #e5e5e5;
}

.to-play {
  background-color: #95db59;
}

.score > table {
  width: 100%;
}

.ptn {
  overflow: auto;
  border: 1px solid #D2D2D2;
  border-left: 0;
  border-right: 0;
  height: 140px;
  width:100%;
}

.moves {
  table-layout: fixed;
  width: 100%;
}

.moves>table>tr,
.move>table>tr>td {
  max-height: 10px;
}

.btn-player1-piece {
  background-color: #fff;
  color: #608292
}

.btn-player2-piece {
  background-color: #608292;
  color: #fff;
}

.stone-select {
  height: 80px;
  display: flex;
  margin-top: 10px;
  justify-content: right;
}

.active-stone {
  /*box-shadow: 3px 3px rgb(70, 255, 238) !important*/
  /*filter: drop-shadow(1px 3px 2px #04ff73) !important;*/
  /*border: solid 5px #8BBA62;*/
}

.flat-toggle {
  display: flex;
  justify-content: right;
  min-width: 125px;
  height: 90px;
  border-radius: 15px;
  background-color: #d9d9d9;
}

.flat-toggle>.flat-count {
  width: 24px !important;
  height: 24px !important;
  position: absolute;
  border-radius: 100%;
  background: #757575;
  color: #FFF;
  font-weight: bold;
  margin: 10px 5px 0 0 !important;
}

.stone-select>.cap-select {
  display:flex;
  height: 90px;
  border-radius: 15px;
  background-color: #d9d9d9;
  margin-right: 10px;
}

.piece-selected {
  background-color: #bebebe !important;
}

.stone-select>.cap-select>.C,
.stone-select>.flat-toggle>div{
  width: 70px;
  height: 70px;
  margin: 10px 10px;
}


.flat-toggle>.inactive.S {
  width: 20px !important;
  height: 40px;
  margin-top: 35%;
  margin-left: 2px;
}

.flat-toggle>.inactive.flat {
  height: 30px;
  width: 30px;
  margin-top: 50px;
}

.turn-number {
  background-color: #C6C6C6;
  width: 20%;
}

.ptn-ply {
  width: 45%;
}

.board {
  min-height: 600px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  display: flex;
  flex-direction: column;
}

.valid:hover {
  background-color: #8BBA62 !important;
}

.origin {
}

.selected {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  position:absolute;
  border-radius: 3px;
  z-index: 9999;
}

.selected>div{
  box-shadow: 3px 3px rgba(0,185,0,.3);

}

.stone {
  border-radius: 8px;
  margin: auto;
  display:absolute;
  box-shadow: 2px 2px rgba(50, 50, 50, 0.3), -2px 2px rgba(50, 50, 50, 0.1);
}

div.S {
  transform: rotate(45deg);
  width: 35px !important;
}

div.C {
  border-radius: 100%;
}

.top.C,
.top.S {
  margin-bottom: 0;
}

.top {
  z-index: 10;
}

.captive {
  border-radius: 5px 5px;
  margin-top: -55%;
  box-shadow: 0 2px rgba(50, 50, 50, 0.3)
}

.p1 {
  background-color: #fff;
}

.p2 {
  background-color: #608292;
}

.non-flat {
  font-weight: bold;
  position: absolute;
  margin-left: 3px;
  border-radius: 5px;
  color: #2F5659;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stack-overflow {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.overflow-stone {
  width: 10px;
  height: 10px;
}